<footer class="mainfooter">
  <div class="container">
    <div class="foooter_content">
      <div class="row">
        <div class="col-lg-3">
          <div class="footerLogoHolder">
            <img class="footerLogo" src="/images/logo.webp" alt="logo" />
          </div>
        </div>
        <div class="col-lg-9">
          <div class="footerdetails">
            <h5>Twani's Net School</h5>
            <div class="separator"></div>
            <h6>
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved.
              <i class="ion-ios-heart" aria-hidden="true"></i>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
