<div class="navbar">
  <div class="container">
    <div class="navbar_logo">
      <a href="/"
        ><img class="img-fluid" src="/images/logo.webp" alt="logo"
      /></a>
    </div>
    <div class="navbar_extend">
      <div class="open_menu">
        <i class="material-icons">menu</i>
      </div>
      <div class="navbar_links">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </div>
    </div>
  </div>
</div>
