<div class="navbar">
  <div class="container">
    <div class="navbar_logo">
      <a class="navLogo" href="/"
        ><img class="img-fluid" src="/images/logo.webp" alt="logo" />
        <span>Twani's Net School</span>
      </a>
    </div>
    <div class="navbar_extend">
      <div class="open_menu">
        <span class="material-symbols-outlined"> menu_open </span>
      </div>
      <div class="navbar_links">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <%if(currUser && currUser.username){%>
        <a href="/dashboard/<%=currUser.username%>"
          ><span class="material-symbols-outlined"> account_circle </span
          >dashboard</a
        >
        <a href="/logout"
          ><span class="material-symbols-outlined"> move_item </span> logout</a
        >
        <%}else{%>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <% } %>
        <button class="navbarSearch">
          <span class="material-symbols-outlined"> search </span>
        </button>
      </div>
    </div>
  </div>
</div>
