<div
  class="flash-alerts alert alert-success alert-dismissible fade show"
  role="alert"
>
  <strong>Great,</strong> <%=success %>.
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
