<%(layout('layout/boilerplate'))%>
<div class="addData">
  <div class="container">
    <div class="addData_content">
      <header class="header">
        <h1 id="title" class="text-center">Add another video</h1>
      </header>
      <div class="form-wrap">
        <form
          id="Content-form"
          enctype="multipart/form-data"
          action="/platformadmin/adddata"
          method="post"
          novalidate
          class="needs-validation"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="subject">Choose subject</label>
                <select
                  name="subject"
                  class="form-select"
                  aria-label="Default select example"
                  id="subject"
                >
                  <option value="chemistry" selected>chemistry</option>
                  <option value="physics">physics</option>
                  <option value="biology">biology</option>
                  <option value="english">english</option>
                  <option value="history">history</option>
                  <option value="mathematics">mathematics</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="level">Choose level</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  id="level"
                  name="level"
                >
                  <option value="senior one" selected>senior one</option>
                  <option value="senior two">senior two</option>
                  <option value="senior three">senior three</option>
                  <option value="senior four">senior four</option>
                  <option value="senior five">senior five</option>
                  <option value="senior six">senior six</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="term">Choose a school Term</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  id="term"
                  name="term"
                >
                  <option value="term1" selected>Term one</option>
                  <option value="term2">Term two</option>
                  <option value="term3">Term three</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label id="name-label" for="topic">Name of the topic</label>
                <input
                  type="text"
                  name="topic"
                  id="topic"
                  placeholder="eg 'Light'"
                  class="form-control"
                  aria-describedby="name-suggestion"
                  minlength="3"
                  required
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label id="name-label" for="name">Lesson title</label>
                <input
                  type="text"
                  name="title"
                  id="name"
                  placeholder="Enter name of the video file"
                  class="form-control"
                  aria-describedby="name-suggestion"
                  minlength="3"
                  required
                />

                <div
                  style="color: rgba(6, 81, 125, 1); font-size: 12px"
                  id="name-suggestion"
                  class="form-text"
                >
                  The lesson title should be unique.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="lessonNumber">Lesson number</label>
                <input
                  type="number"
                  name="lessonNumber"
                  id="lessonNumber"
                  class="form-control"
                  aria-describedby="name-suggestion"
                  minlength="1"
                  required
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="btn float-left form_file_select">
                  <input name="uploadedvideo" type="file" />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Will this video cost money to watch?</label>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    id="paidRadioButton"
                    value="paid"
                    name="cost"
                    class="custom-control-input"
                    checked=""
                  />
                  <label class="custom-control-label" for="paidRadioButton"
                    >Definitely</label
                  >
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    id="freeRadioButton"
                    value="free"
                    name="cost"
                    class="custom-control-input"
                  />
                  <label class="custom-control-label" for="freeRadioButton"
                    >Free</label
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <button type="submit" id="submit" class="btn secondary_button">
                Upload video
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
