<% (layout('layout/boilerplate')) %>
<div class="aboutHeader">
  <div class="container">
    <h3>Information and help</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="aboutContent">
        <h5>Know more about us</h5>
        <p>
          We are a group of students from the University of the Philippines Los
          Baños. We are currently taking up BS Computer Science and BS Computer
          Engineering. We are currently on our 3rd year in college.
        </p>
        <div class="moreAboutUs">
          <div class="row">
            <div class="col-md-6">
              <div class="eachValue">
                <h5>Our core values</h5>
                <p>
                  We value the importance of education and we believe that
                  education is the key to success. We also value the importance
                  of the environment and we believe that we should take care of
                  our environment.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="eachValue">
                <h5>Our mission</h5>
                <p>
                  Our mission is to help the environment by planting trees and
                  to help the students by providing them with the necessary
                  tools for their education.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="aboutContact">
    <h5>Contact us</h5>
    <div class="row">
      <div class="col-md-3">
        <div class="whatsappContact">
          <i class="lni lni-facebook-fill"></i>
          <a href="https://wa.me/639123456789" target="_blank">
            <img src="/images/whatsapp.png" alt="" />
            <p>Whatsapp</p>
          </a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="contactform">
          <form action="">
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Email" />
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="Message"
            ></textarea>
            <input type="submit" value="Send" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
