<%(layout('layout/boilerplate'))%>
<div class="guideHeader">
  <div class="container">
    <h3>Here you will find help</h3>
  </div>
</div>

<div class="guideContent">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h5>Why you need an Email Account</h5>
        <p>You need an Email to help you reset your password when forgotten.</p>
        <h5>How to open up an Email</h5>
        <h6>Step 1</h6>
        <p>You can open up an Email by going to the following websites:</p>
        <div class="openEmailLinks">
          <a
            href="https://accounts.google.com/signup/v2/createaccount?flowName=GlifWebSignIn&flowEntry=SignUp"
            >Gmail</a
          >,
        </div>
        <h6>Step 2</h6>
        <p>Enter your First name and Last name</p>
        <h6>Step 3</h6>
        <p>Enter your Birthday and gender</p>
        <article>
          To open up an email you need to be 18 years or older. Else, ask
          someone whos is 18 years old or older to open up an email for you.
          Than can be your elder brother or sister, your uncle or aunt, your
          mother or father
        </article>
        or your grandparent.

        <h6>Step 4</h6>
      </div>
      <div class="col-lg-3">
        <h1>hello</h1>
      </div>
    </div>
  </div>
</div>
