<%(layout('layout/boilerplate')) %>

<div class="landingPage">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="landingPage__title">
          Welcome to
          <span class="landingPage__title--highlight">Twani Net School</span>
        </h1>
        <p class="landingPage__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum voluptatibus, quibusdam, quos, voluptates quae quia quod
          doloribus quas voluptate voluptatem consequatur nesciunt. Quisquam
          voluptatum voluptatibus, quibusdam, quos, voluptates quae quia quod
          doloribus quas voluptate voluptatem consequatur nesciunt.
        </p>
        <a href="/register" class="btn btn-primary">Register</a>
        <a href="/login" class="btn btn-secondary">Login</a>
      </div>
      <div class="col-lg-6">
        <div class="landingPage__image">
          <lottie-player
            src="/images/lottiefiles/landing_page_animation.json"
            background="transparent"
            speed="1"
            style="width: 90%; height: 90%"
            loop
            autoplay
          ></lottie-player>
        </div>
      </div>
    </div>
  </div>
</div>
