<%(layout('layout/boilerplate'))%>
<div class="guideHeader">
  <div class="container">
    <h3>How to pay Subscription</h3>
  </div>
</div>

<div class="container">
  <div class="aboutusSection">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="aboutContent">
          <h4>Using Mobile Money (for Ugandans)</h4>
          <p>
            You can enjoy our services by paying a subscription fee of
            <strong>UGX 50,000</strong>. After subscription you will be able to
            watch all videos anytime and anywhere. To pay using
            <strong>MTN Mobile Money</strong> or <strong>Airtel Money</strong>,
            follow the steps below:
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="moreAboutUs">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="mobileMoneyCards">
                <div class="image">
                  <img src="/images/airtel.webp" alt="" />
                </div>
                <div class="content">
                  <h5>Airtel Money</h5>

                  <ul>
                    <li>
                      Dial <strong>*185*9#</strong> on your phone and press yes
                    </li>
                    <li>
                      Enter Twani's Net School Merchant ID:
                      <strong> 4360816</strong>
                    </li>
                    <li>Enter amount as <strong>50,000</strong></li>
                    <li>Enter payment reference</li>
                    <li>Enter your Airtel Money PIN to complete.</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6 mb-3">
              <div class="mobileMoneyCards mtn">
                <div class="image">
                  <img src="/images/mtn.webp" alt="" />
                </div>
                <div class="content">
                  <h5>NTN Mobile Money</h5>

                  <ul>
                    <li>Dial <strong>*165*3#</strong> on your phone</li>
                    <li>
                      Enter Twani's Net School
                      <strong>Merchant Code: 100000</strong>
                    </li>
                    <li>Enter amount as <strong>80,000</strong></li>
                    <li>Enter a PIN to complete a payment.</li>
                  </ul>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
