@import url("./Components/navbar.css");
@import url("./Components/footer.css");
@import url("./Components/videoplayer.css");
@import url("./Components/dashboard.css");
@import url("./Components/dashboard_v2.css");
@import url("./Components/viewdata.css");

.landingPage {
  width: 100%;
  position: relative;
  min-height: 100vh;
  height: 100%;
  overflow-y: hidden;
  background-size: cover;
  background-position: center center;
  padding-bottom: 8rem;
  background-image: url("../images/educationTwani.webp");
  background-color: #80006e;
  display: flex;
  align-items: center;
}

.landingPage .container {
  height: 100%;
}

.landingPage_content {
  color: rgb(var(--mainwhite));
  position: relative;
  padding: 2rem 1rem;
  border-radius: var(--normalBorderRadius);
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}
.landingPage__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding-bottom: 2rem;
}

.landingPage__title .landingPage__title--highlight {
  font-weight: 900;
  font-size: 3rem;
  display: block;
  text-transform: capitalize;
  font-family: var(--headersFont);
  padding: 0.4rem 0rem;
}
.landing_page_user_buttons {
  padding-top: 2rem;
}

.landing_page_user_buttons .btn:first-child {
  margin-right: 1rem;
}

.landing_page_user_buttons a {
  display: inline-flex;
  align-items: center;
}

.landing_page_user_buttons .btn span {
  padding-left: 0.2rem;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}

.landing_page_user_buttons .btn:hover span {
  padding-left: 1rem;
}

.landingPage__image {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  position: relative;
  padding-bottom: 5rem;
}

.section_gap {
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.subjects .container {
  position: relative;
}
.subjects .container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255) 10%,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
}
.subjects .container:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255) 10%,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
}

.single_subject_slider {
  color: rgb(var(--mainColor));
  /* opacity: 0.7; */
  cursor: pointer;
}

.single_subject_slider:hover {
  opacity: 1;
}

.single_subject_slider .subject_slider__image {
  display: flex;
  justify-content: center;
}

.single_subject_slider span {
  font-size: 3.5rem;

  padding-bottom: 1rem;
  transition: var(--themeTransition);
}
.single_subject_slider span:hover {
  color: rgb(var(--secondaryColor));
}

.single_subject_slider h4 {
  text-align: center;
  font-size: 1.1rem;
  margin-top: -0.5rem;
}

.sectionSubtitle {
  margin-bottom: 2rem;
  color: rgb(var(--mainColor));
}

.sectionSubtitle::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin-top: 3px;
  background-color: rgb(var(--secondaryColor));
  border-radius: var(--normalBorderRadius);
}
.sample_videos {
  background-color: rgba(var(--mainColor), 0.1);
}

.sample_video {
  background-color: rgba(var(--mainColor), 0.5);
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 1.5rem;
  height: 100%;
}

.sample_video .sample_video__image {
  height: 250px;
  width: 100%;
  background: rgb(var(--secondaryColor));
  background: linear-gradient(
    30deg,
    rgba(18, 12, 5, 1) 40%,
    rgba(13, 52, 89, 1) 70%,
    rgba(6, 81, 125, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--mainwhite));
  cursor: pointer;
}

.sample_video .sample_video__image span {
  font-size: 3rem;
  transition: var(--themeTransition);
  color: rgb(var(--secondaryColor));
}

.sample_video .sample_video__image:hover span {
  animation: bloob 0.7s ease-out;
}

@keyframes bloob {
  0% {
    transform: scale(1);
    color: rgba(var(--mainwhite), 1);
  }
  50% {
    transform: scale(1.5);
    color: rgba(var(--mainwhite), 0.2);
  }
  100% {
    transform: scale(1);
    color: rgba(var(--mainwhite), 1);
  }
}

.sample_video__content {
  padding: 1rem;
  padding-bottom: 1.5rem;
  color: rgb(var(--mainwhite));
}

.sample_video__content .sample_videoSubject {
  text-transform: capitalize;
}

.loginPage {
  min-height: calc(100vh - 95px);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.loginContainer {
  padding: 5rem 3.5rem;
  border-radius: var(--normalBorderRadius);
  color: rgb(var(--mainwhite));
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: rgb(var(--secondaryColor));
  background: linear-gradient(
    30deg,
    rgba(18, 12, 5, 1) 40%,
    rgba(13, 52, 89, 1) 70%,
    rgba(6, 81, 125, 1) 100%
  );
  background-size: 200% 200%;
  animation: animateBg 15s infinite;
}

.loginContainer.onlyLogin {
  max-width: 450px;
}

@keyframes animateBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loginContainer h4 {
  padding-bottom: 2rem;
  font-weight: 200;
  font-size: 2rem;
}

.loginContainer label {
  font-size: 1.05rem;
  font-weight: 400;
}

.loginContainer button {
  margin-top: 2rem;
}

.loginContainer .removeArrow::-webkit-outer-spin-button,
.loginContainer .removeArrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.loginContainer .extras {
  padding-top: 2rem;
}

.loginContainer .extras a {
  display: block;
  color: rgba(var(--mainwhite), 0.4);
  font-size: 0.9rem;
  transition: var(--themeTransition);
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.loginContainer .extras a:hover {
  color: rgba(var(--mainwhite), 0.7);
}

.emailGuidePositionControl {
  position: relative;
}

.emailGuide {
  background-color: rgba(var(--mainwhite), 1);
  max-width: 300px;
  padding: 1rem;
  border-radius: var(--normalBorderRadius);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: absolute;
  color: rgba(var(--mainColor), 8);
  font-size: 0.9rem;
  top: -80%;
  display: none;
}

.emailGuide.show {
  display: block;
}

.emailGuide .guideActions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  position: relative;
}
.emailGuide .guideActions::after {
  position: absolute;
  content: "";
  border-top: 12px solid rgba(var(--mainwhite), 1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  left: 50%;
  bottom: -1.7rem;
  transform: translateX(-50%);
}

.emailGuide .secondary_button,
.emailGuide .main_button {
  padding: 0.3rem 1rem;
  margin-top: 0rem;
}

.addData {
  min-height: 100vh;
  overflow-y: scroll;
}
.addData .addData_content {
  padding: 2rem 1rem;
  border-radius: var(--normalBorderRadius);

  margin-top: 3rem;
  max-width: 1230px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header h1 {
  font-weight: 200;
  font-size: 2.2rem;
}

.header {
  margin-bottom: 80px;
}
#description {
  font-size: 24px;
}

.form-wrap {
  background: rgba(255, 255, 255, 1);
  /* width: 100%;
  max-width: 850px; */
  padding: 50px;
  margin: 0 auto;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.form-wrap:before {
  content: "";
  width: 90%;
  height: calc(100% + 60px);
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: -30px;
  background-color: rgb(var(--mainColor));
  z-index: -1;
  opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.form-group {
  margin-bottom: 28px;
}
.form-group > label {
  display: block;
  font-size: 18px;
  color: #000;
}
.custom-control-label {
  color: #000;
  font-size: 16px;
}
.form-control {
  height: 50px;
  background-color: #ecf0f4;
  border-color: transparent;
  padding: 0 15px;
  font-size: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-select {
  height: 50px;
  border-color: transparent;
  padding: 0 15px;
  font-size: 15px;
  background-color: #ecf0f4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form_file_select {
  background-color: rgb(var(--mainColor));
  color: rgb(var(--mainwhite));
  height: 50px;
  width: 100%;
  border-color: transparent;
  padding: 0 15px;
  font-size: 15px;
  text-align: left;
  display: flex;
  align-items: center;
}

.form_file_select:hover {
  color: rgb(var(--mainwhite));
  opacity: 0.9;
}
.form-control:focus {
  border-color: rgb(var(--mainColor));
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.custom-control.custom-radio {
  margin-top: 0.7rem;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: inherit;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  border: 1px solid rgb(var(--mainColor));
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: rgb(var(--mainColor));
  position: absolute;
  top: 5.1px;
  left: 5.1px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.edit-fileContent {
  display: flex;
  flex-direction: column;
}

.errorPage {
  height: calc(100vh - 95px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorPage h1 {
  font-size: 7rem;
  font-weight: 900;
  padding-bottom: 1rem;
  color: rgba(var(--mainColor), 0.7);
}

.errorPage a {
  color: rgba(var(--secondaryColor), 0.7);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;
}

.guideHeader,
.aboutHeader {
  background-color: rgb(var(--mainColor));
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: rgba(var(--mainwhite), 0.8);
  text-align: center;
}

.aboutContent,
.aboutContact {
  text-align: center;
  padding: 3rem 0rem;
  padding-bottom: 0rem;
}

.aboutContact {
  padding-top: 5rem;
}

.aboutContact h4,
.aboutContent h4 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: rgb(var(--secondaryColor));
  font-weight: 700;
}
.eachValue h5,
.aboutContact h5 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  color: rgb(var(--mainColor));
  font-weight: 700;
}

.moreAboutUs {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.eachValue {
  padding: 1.5rem 1rem;
  border-radius: var(--normalBorderRadius);
  background-color: rgba(var(--mainColor), 0.1);
  height: 100%;
}

.aboutContact {
  padding-bottom: 3rem;
}

.contactCotent {
  display: flex;
}

.contactContent {
  height: 100%;
  margin-bottom: 1rem;
}

.contactform {
  margin-left: 2rem;
  text-align: start;
}

.whatsappContact,
.contactform {
  border: 1px solid rgba(var(--mainColor), 0.1);
  padding: 2rem 1rem;
  border-radius: var(--normalBorderRadius);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.whatsappContact i {
  font-size: 4rem;
  padding-right: 1rem;
  color: green;
  background-color: rgba(var(--mainColor), 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--normalBorderRadius);
  transition: var(--themeTransition);
  cursor: pointer;
}
.whatsappContact i:hover {
  animation: squeezeMe 0.5s ease-in-out;
  background-color: rgba(var(--mainColor), 0.6);
  color: rgba(var(--mainwhite), 0.7);
}

@keyframes squeezeMe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.whatsappContact p span {
  font-weight: 700;
  color: rgb(var(--mainColor));
}

.contactform .expand-textArea {
  min-height: calc(1.5em + (11.75rem + 2px));
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
