.dashboard {
  background-color: rgba(var(--mainColor), 0.1);
  position: relative;
  padding-bottom: 1rem;
}

.dashboard .container {
  display: flex;
  margin-bottom: 1rem;
}

.openSidebar,
.closeSidebar {
  display: none;
}

.sidebar {
  position: sticky;
  top: 95px;
  background-color: rgb(var(--mainwhite));
  height: calc(100vh - 95px);
  margin-top: 1rem;
  min-height: calc(100vh - 95px);
  overflow-y: scroll;
  display: block;
  width: 100%;
  max-width: 300px;

  z-index: 50;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 0px 10px 10px 0px;
  padding-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
  width: 0px;
}
.sidebar .profile {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgb(var(--mainColor));
  color: rgb(var(--mainwhite));
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.sidebar .profilepic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.sidebar .profilepic img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.sidebar .logout {
  margin-top: auto;
  padding: 1rem 0;
  text-align: center;
  color: rgb(var(--mainwhite));
  transition: var(--themeTransition);
  display: flex;
  align-items: center;
}

.sidebar .logout:hover {
  color: rgb(var(--secondaryColor));
}

.sidebar .logout span {
  padding-left: 0.5rem;
}

.sidebar .sidebarsections {
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.sidebar .sidebarsections h5 {
  text-transform: uppercase;
  font-weight: 200;
}

.sidebarsections .accordion-item {
  border: none;
}

.sidebarsections .accordion-button:hover {
  color: rgb(var(--secondaryColor));
  box-shadow: none;
  font-weight: 700;
}
.sidebarsections .accordion-button:not(.collapsed),
.sidebarsections .accordion-button,
.sidebarsections .ul a {
  background-color: rgb(var(--mainwhite));
  color: rgb(var(--secondaryColor));
  padding: 1rem 0;
  box-shadow: none;
  font-weight: 700;
}

.sidebarsections .accordion-button span {
  padding-right: 0.5rem;
  font-weight: 700;
}

.sidebarsections .accordion-collapse ul li {
  color: rgb(var(--secondaryColor));
  font-size: 0.9rem;
  font-weight: bold;
  transition: var(--themeTransition);
  cursor: pointer;
  opacity: 0.8;
}

.sidebarsections .accordion-collapse ul li:hover {
  color: rgb(var(--mainColor));
}

.sidebarsections .accordion-button.collapsed {
  color: rgb(var(--mainColor));
}

.sidebarsections .accordion-body {
  padding-top: 0px;
}

.sidebarsections .accordion-body ul {
  list-style-type: none;
}

.sidebarsections .accordion-body ul li a {
  display: block;
  color: rgb(var(--mainColor));
  padding-bottom: 0.8rem;
  transition: var(--themeTransition);
}

.sidebarsections .accordion-body ul li a:hover,
.sidebarsections .accordion-body ul li a.active {
  color: rgb(var(--secondaryColor));
}

.sidebarsections .extraMenu ul {
  padding-left: 0rem;
  list-style-type: none;
  padding-top: 1rem;
}
.sidebarsections .extraMenu ul li a {
  padding-bottom: 0.8rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: rgb(var(--mainColor));
  transition: var(--themeTransition);
}
.sidebarsections .extraMenu ul li a:hover {
  color: rgb(var(--secondaryColor));
}

.sidebarsections .extraMenu ul li a.activesideMenu {
  color: rgb(var(--secondaryColor));
}
.sidebarsections .extraMenu ul li a span {
  font-weight: 700;
  padding-right: 0.5rem;
}

.dashboardContent {
  background-color: rgb(var(--mainwhite));
  flex-grow: 2;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: var(--normalBorderRadius);
  position: relative;
  width: inherit;
  height: fit-content;
}

.deleteVideoOverlay {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(var(--mainblack), 0.5);
  z-index: 99;
}

.deleteVideoOverlay.show {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.deleteVideoOverlay .deleteVideoModal {
  background-color: rgb(var(--mainwhite));
  padding: 2rem;
  border-radius: var(--normalBorderRadius);
  width: 500px;
  max-width: 90%;
}
.deleteVideoOverlay #videoName {
  color: rgba(var(--secondaryColor), 0.8);
  font-weight: 700;
}

.deleteVideoOverlay .deleteVideoButtons {
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem;
}

.dashboardContent .dashboardMenu {
  background-color: rgb(var(--mainColor));
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px 10px 0px 0px;
}

.dashboardBody {
  padding: 1.5rem 1rem;
}

.dashboardBodyElement {
  padding: 0.8rem;
  background-color: rgba(var(--mainColor), 0.2);
  border-radius: var(--normalBorderRadius);
  color: rgb(var(--mainColor));
  transition: var(--themeTransition);
  height: 100%;
  margin-bottom: 1rem;
}

.dashboardBodyElement:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.messageRead {
  filter: grayscale(100%);
}

.ElementDetails h5 {
  color: rgba(var(--mainColor), 0.7);
  text-transform: capitalize;
  margin-bottom: 0.2rem;
}

.ElementDetails h6 {
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0.2rem;
}

.ElementDetails p {
  font-size: 0.9rem;
  color: rgba(var(--secondaryColor), 0.9);
}

.actionButtons {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.dashboard .actionButtons .main_button,
.dashboard .actionButtons .secondary_button,
.dashboardUserElement .main_button,
.dashboardUserElement .secondary_button {
  padding: 0.3rem 1rem;
  cursor: pointer;
}

.videoImage {
  z-index: 2;
}

.myPlayButton {
  width: 50px;
  height: 50px;
  background: radial-gradient(rgb(13, 52, 89) 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 20px auto;
  box-shadow: 0px 0px 25px 3px rgba(13, 52, 89, 0.8);
}

/* triangle */
.myPlayButton::after {
  content: "";
  position: absolute;
  left: 60%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.myPlayButton:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.75);
  top: -25%;
  left: -25%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

.noVideosFound {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  padding-top: 4rem;
  color: rgb(var(--mainColor));
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  height: 100%;
}

.noVideosFound span {
  font-size: 2.5rem;
}

.dashboardUserElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(var(--mainColor), 0.2);
  border-radius: var(--normalBorderRadius);
  color: rgb(var(--mainColor));
  transition: var(--themeTransition);
  margin: 0.5rem;
}
.dashboardUserElement.premiumUser {
  background-color: rgba(var(--secondaryColor), 0.2);
  color: rgb(var(--secondaryColor));
}

.dashboardUserElement:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.dashboardUserElement .userIcon span {
  font-size: 4rem;
  color: rgba(var(--mainColor), 0.7);
  padding-bottom: 2rem;
}

.dashboardUserElement h5 {
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

.dashboardUserElement h6.userName {
  text-transform: capitalize;
}

.dashboardUserElement h6 {
  font-size: 0.9rem;
  padding-bottom: 1rem;
  font-weight: 200;
  word-break: break-word;
}

.analyticSection {
  min-height: 40vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.eachAnalytic {
  min-width: 200px;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 1rem;
  border: 1px solid rgba(var(--mainColor), 0.2);
  border-radius: 12px;
  background-color: rgba(var(--mainColor), 0.2);
}

.eachAnalytic article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(var(--mainColor), 0.2);
}
.eachAnalytic article:first-child {
  border-left: none;
}

.eachAnalytic h5 {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 2px;
  color: rgb(var(--mainColor));
}
.eachAnalytic h6 {
  font-size: 1rem;
  margin-bottom: 1px;
  font-weight: 200;
  color: rgb(var(--mainColor));
}

.eachAnalytic h3 {
  font-size: 1rem;
  font-weight: 400;
}
.setFreeTime h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(var(--mainColor));
  padding-bottom: 1rem;
  text-transform: capitalize;
}

.freeTime {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
}

.freeTime article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem 0rem;
  border-radius: 12px;
  background-color: rgba(var(--mainColor), 0.2);
  border: 1px solid rgba(var(--mainColor), 0.2);
}

.freeTime article button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: rgba(var(--mainColor), 0.8);
  color: rgb(var(--mainwhite));
  font-weight: 700;
  cursor: pointer;
  transition: var(--themeTransition);
  border: none;
  margin-bottom: 1rem;
}

.freeTime article button:hover {
  background-color: rgba(var(--mainColor), 1);
}

.freeTime article h3 {
  font-size: 0.9rem;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .dashboard .container {
    margin-left: auto;
    margin-right: auto;
    min-width: 95%;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .dashboard .container {
    display: flex;
    min-width: 100%;
    position: relative;
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: -100%;
    transition: var(--themeTransition);
  }
  .sidebar.show {
    left: 0;
    transition: var(--themeTransition);
    overflow-y: scroll;
    height: 90vh;
    padding-bottom: 4rem;
  }
  #sidebarOverlay.show {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(var(--mainblack), 0.5);
    z-index: 50;
  }
  .openSidebar.secondary_button,
  .closeSidebar.secondary_button {
    position: fixed;
    margin-top: 1rem;
    z-index: 30;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .dashboardContent {
    margin-left: 0rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .dashboardBodyElement {
    height: auto;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .dashboard .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
