<%(layout('layout/boilerplate'))%>
<div class="loginPage">
  <div class="container">
    <div class="loginContainer">
      <h4>Sign up for an account</h4>
      <form
        id="registerForm"
        action="/register"
        method="post"
        class="needs-validation"
        novalidate
      >
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-4">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                name="firstName"
                class="form-control removeArrow"
                id="firstName"
                required
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-4">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                name="lastName"
                class="form-control removeArrow"
                id="lastName"
                required
              />
            </div>
          </div>
        </div>

        <div class="mb-4">
          <label for="userAccount" class="form-label">Mobile number</label>
          <input
            type="number"
            name="username"
            class="form-control removeArrow"
            id="userAccount"
            placeholder="E.g 07051234567"
            maxlength="10"
            required
          />

          <% if(message !== ''){%>
          <small class="text-danger"><%=message%>, try a different one</small>
          <%} %>
        </div>
        <div class="mb-4 emailGuidePositionControl">
          <div class="emailGuide">
            <p>Do you have an Email Adress?</p>
            <div class="guideActions">
              <a id="closeEmailGuide" class="btn secondary_button"> Yes </a>
              <a href="" class="btn main_button">No</a>
            </div>
          </div>
          <label for="userEmail" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="userEmail"
            aria-describedby="numberHelp"
            placeholder="Enter your email address"
            required
          />
          <div style="font-size: 12px" id="numberHelp" class="form-text">
            Your email is important when you forget your password.
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-4">
              <label for="schoolName" class="form-label"
                >Name of your school</label
              >
              <input
                type="text"
                name="schoolName"
                class="form-control removeArrow"
                id="schoolName"
                required
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-4">
              <label for="studentLevel" class="form-label">Your class</label>
              <input
                type="text"
                name="studentLevel"
                class="form-control removeArrow"
                id="studentLevel"
                required
              />
            </div>
          </div>
        </div>

        <div class="mb-4">
          <label for="userPassword" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="userPassword"
            placeholder="use a password you can remember"
            required
          />
        </div>

        <button type="submit" class="btn secondary_button">Register</button>
      </form>
    </div>
  </div>
</div>
